:root {
  --primary-color: #3cf2c1;
  --secondary-color: #05B4FF;
  --aspect1-color: #4b96ff;
  --aspect2-color: #00d7e2;
  --aspect3-color: #02edf5;
  --heading-font: macondo;
  --body-font: IBM Plex Serif;
}

body {
  width: 99%;
}

header {
  background-color: var(--aspect1-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-items: center;
  border: 1px solid black;
}

header a {
  text-decoration: none;
  font-family: var(--body-font);
  color: white;
}

header img {
  border: 1px solid gray;
}

header nav {
  display: flex;
  justify-content: space-around;
  border: 1px solid green;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--aspect1-color);
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 4%;
  left: 38%;
  color: white;
  font-size: 3em;
}

article {
  position: absolute;
  top: 25%;
  right: 23%;
  width: 50%;
  padding: 0.75em;
  background-color: var(--primary-color);
}

article img {
  float: right;
  opacity: 1;
}

article p {
  float: left;
}

p {
  font-family: var(--body-font);
  font-size: 1em;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 h2 {
  justify-content: center;
}

.adventure-pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer img {
  width: 1.5em;
  height: auto;
}

footer a {
  text-decoration: none;
}